/* ResultsPage.css */

.results-container {
    padding: 20px;
  }
  
  h1 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  /* Navigation bar styling */
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
  }
  
  .tab-buttons {
    display: flex;
    gap: 20px;
  }
  
  .tab-buttons button {
    background: none;
    border: none;
    padding: 10px 0;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  /* Hover effect for all tabs */
  .tab-buttons button:hover {
    color: #0073e6; /* Hover color */
  }
  
  /* Active tab styling */
  .tab-buttons button.active {
    color: #005bb5; /* Active color */
    font-weight: bold;
    border-bottom: 2px solid #005bb5; /* Underline effect */
  }
  
  /* Modify Search button styling */
  .modify-search-button {
    background-color:cadetblue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .modify-search-button:hover {
    background-color:rgb(7, 94, 94);
  }
  
  /* Tab content styling */
  .tab-content {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  